@{
    ViewData["Title"] = "Jeison Vargas";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Jeison Vargas</h1>
            <p class="lead">Desarrollador con 10 años de experiencia</p>
            <hr class="my-4">
            <p>Hola, soy Jeison Vargas, un desarrollador con una sólida experiencia de 10 años en diversas tecnologías y plataformas. A continuación, se presenta un resumen de mis habilidades y conocimientos:</p>

            <h3>Lenguajes y Tecnologías</h3>
            <ul>
                <li>.NET</li>
                <li>C#</li>
                <li>LINQ</li>
                <li>CSS3</li>
                <li>HTML5</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
            </ul>

            <h3>Web Services</h3>
            <ul>
                <li>SOAP</li>
                <li>REST</li>
            </ul>

            <h3>Bases de Datos</h3>
            <ul>
                <li>SQL Server</li>
                <li>MySQL</li>
                <li>Oracle</li>
                <li>MongoDB</li>
                <li>PostgreSQL</li>
                <li>Cosmos DB</li>
            </ul>

            <h3>Herramientas de Control de Versiones</h3>
            <ul>
                <li>GitHub</li>
                <li>TFS</li>
            </ul>

            <h3>Arquitectura y Metodologías</h3>
            <ul>
                <li>DevOps</li>
                <li>Metodologías ágiles como Scrum</li>
                <li>Conocimientos en Azure</li>
            </ul>

            <p class="mt-4">Mi pasión por el desarrollo y la tecnología me ha llevado a desarrollar habilidades tanto en backend como en frontend, con un fuerte enfoque en la calidad del código y las mejores prácticas en desarrollo de software.</p>
        </div>
    </div>
</div>

